/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow>hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    /* padding: 14px 24px; */
    font-size: 21px;
}

.jumbotron figure {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron blockquote {
    border-left: none;
    text-align: left;
}

/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body.step1 #step2, body.step1 #step3 {
    display: none;
}

body.step2 #step1, body.step2 #step3 {
    display: none;
}

body.step3 #step1, body.step3 #step2 {
    display: none;
}

.alert {
    display: none;
}

.jumbotron #step1 video, .jumbotron #step2 figure>img, .jumbotron #step3 figure>canvas {
    max-width: 100%;
}

.jumbotron .tooltip {
    opacity: 1;
}

.jumbotron .popover {
    width: 272px;
}

.popover img {
    width: 100%;
}

#step1 figure.not-ready video {
    /* border: solid gray 1px; */
}

#step1 figure.not-ready {
    position: relative;
}

#step1 figure.not-ready:after {
    content: 'Please enable the camera.';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -85px;
    margin-top: -10px;
}

/* SPINNNER - credit to http://tobiasahlin.com/spinkit/ */

.spinner {
    margin: 10px auto 10px;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@media screen and (max-width: 768px) {
    html, body, .container {
        height: 100%;
        padding: 0;
    }

    .jumbotron {
        background-color: #f8f8f8;
    }

    blockquote, #step2 p {
        width: 100%;
        padding: 0;
    }

    blockquote footer:before {
        display: none;
    }

    #step1 {
        display: flex;
        flex-direction: column;
        background-color: #000;
    }

    video {
        height: calc(100% - 50px);
    }

    figure {
        flex: 1;
        height: 100%;
    }

    .not-ready {
        width: 100%;
    }

    .header {
        border-bottom: none;
        border-top: 1px solid #e5e5e5;
        padding-top: 10px;
        display: none;
    }

    .text-muted {
        padding-bottom: 0 !important;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .jumbotron {
        flex: 1;
        margin-bottom: 0;
        overflow: auto;
        padding: 0;
        border-radius: 0 !important;
        border: 0;
    }

    .jumbotron > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav {
        display: flex;
    }

    .nav li {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav li a {
        max-width: 150px;
    }

    #takePicture {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border-radius: 25px;
    }

    #step1 .button-wrapper {
        padding: 1px;
        border: 1px solid #fff;
        height: 60px;
        width: 60px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    #step3 {
        justify-content: start !important;
        color: #111 !important;
    }

    #step3 h3 {
        background-color: #fff;
        margin-top: 0;
        padding: 10px 0;
    }

    #step3 .button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    #step3 figure{
        height: auto;
    }

    .spinner {
        display: none;
    }

    .result-wrapper > div {
        padding: 1rem 2rem;
        background-color: #fff;
        display: flex;
    }

    .result-wrapper > div > div {
        flex: 1;
    }

    .result-wrapper .value {
        font-size: 14px;
        color: #444 !important;
    }

    .result-wrapper > div:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
    }

    .alert {
        margin-bottom: 0px;
    }

    #preview-wrapper {
        overflow: hidden;
    }
}
