/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.jumbotron figure {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron blockquote {
    border-left: 5px solid gray;
    text-align: left;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body.step1 #step2, body.step1 #step3 {
    display: none;
}

body.step2 #step1, body.step2 #step3 {
     display: none;
}

body.step3 #step1, body.step3 #step2 {
    display: none;
}

.alert {
    display: none;
}

.jumbotron #step1 video, .jumbotron #step2 figure > img, .jumbotron #step3 figure > canvas {
    max-width: 100%;
}

.jumbotron .tooltip {
    opacity: 1;
}

.jumbotron .popover {
    width: 272px;
}

.popover img {
    width: 100%;
}

#step1 figure.not-ready video {
    border: solid gray 1px;
    width: 100%;
    height: 300px;
}

#step1 figure.not-ready {
    position: relative;
}

#step1 figure.not-ready:after {
    content: 'Please enable the camera.';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -85px;
    margin-top: -10px;
}